
<header class="bg-indigo-800 text-white w-full shadow">
  <div class=" px-6">
    <div class="flex justify-between items-center h-14">
      
      <!-- Left: Brand -->
      <a href="/" class="font-extrabold text-5xl  px-4 tracking-tight">
        Climate Solutions
      </a>

      <!-- Right: Links -->
       <div class="flex py-6  justify-end">
      <nav class=" space-x-8">
        <a href="/" class="text-indigo-100 hover:text-white <%= page === '/' ? 'underline' : '' %>">
          Home
        </a>
        <a href="/about" class="text-indigo-100 hover:text-white <%= page === '/about' ? 'underline' : '' %>">
          About
        </a>
      </nav>
      </div>

    </div>
  </div>
</header>
